.font-manrope {
    font-family: 'Manrope', sans-serif;
}


#verticle-line {
    height: 2px;
    width: 825px;
    background: rgba(19, 19, 24, 0.10);
}

.dashed {
    border-top: 2px dashed;
    border-color: rgba(18, 19, 45, 0.25);
}

/* // button1.addEventListener('click', () => {

    //     // selectedSeat
    
        // const current = document.getElementById('selected-seat');
        // const currentSeat = current.innerText;
        // const currentSeatNumber = parseInt(currentSeat);
        // console.log(currentSeatNumber);
    
        // const newSeatNumber = currentSeatNumber + 1;
    
        // current.innerText = newSeatNumber
    // }) */